$mainColor : #05a0e3;

.contactView{
    background: url('../Img/Background/excavator-background.png') no-repeat;
    background-position-y:100%;
    background-position-x:100%;
    background-size: 40%;
    position: relative;

    #dots{
        position: absolute;
        fill: $mainColor;
        opacity: 50%;
        top: -5px;
        left: -10px;
        width: 40px;
    }

    #square{
        top:-2%;
        right: 8%;
        width: 350px;
        transform: rotate(70deg);
        fill:none;
        stroke:$mainColor;
        stroke-width: .2;
        position: absolute;
        z-index: -1;
    }

    /*Contact form section*/
    .contactForm{
        .wrapper{
            display: flex;
            flex-flow:row wrap;
            justify-content:space-between;
    
            .info{
                width: 35%;
                padding: 3em;
                min-width:200px;
                max-width: 330px;
                background-color: $mainColor;
                color:white;
                border-radius: .5em;
    
                p{
                    line-height: 0.5em;
                    font-weight: 300;
                }
                
                .heading{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.2em;
    
                    h4{
                        margin-left: .5em;
                        margin-top:0;
                        margin-bottom:0;
                    }
    
                    &:nth-of-type(2),&:nth-of-type(3){
                        margin-top: 2em;
                    }
                }
            }
    
            .form{
                width: 40%;
                min-width: 300px;
                max-width: 500px;
    
                input,textarea{
                    padding: .8em;
                    font-size: 1.2em;
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    border:0.09em solid #ccc;
                    border-radius: .3em;
                    outline: none;
                    font-family: inherit;
                    -webkit-box-shadow: 0px 2px 7px -5px #000000; 
                    box-shadow: 0px 2px 7px -5px #000000;
                    margin: 1.5em 0;
                }
    
                textarea{
                    height: 10em;
                }
    
                input:first-of-type{
                    margin-top: 0;
                }
    
                .send{
                    background-color: $mainColor;
                    color: white;
                    width: auto;
                    display: inline-block;
                    margin-top: 2em;
                    padding: 1em 3em;
                    -webkit-box-shadow: 0px 2px 7px -5px #000000; 
                    box-shadow: 0px 2px 7px -5px #000000;
                    border-radius: .3em;
    
                    a{
                        color:white;
                        text-decoration: none;
                        position: relative;
                        margin-left: 0.5em;
    
                        &::after{
                            content: '';
                            width: 25px;
                            height: 1px;
                            background-color: black;
                            position: absolute;
                            top:47%;
                            right: -100%;
                        }
                    }
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
    /*Rental section*/
    .rental{
        width:100%;
        margin: 0 auto;
        background: none;

        h3{
            font-size: 2em;
            margin-bottom: 1em;
        }

        h1{
            font-size: 5em;
            margin:0;
            color:$mainColor;
            margin-left: 40px;
        }

        p{
            margin-left: 40px;
            font-size: 1.2em;
            font-weight: 400;
        }
    }
}

/*Media queries*/
@media screen and (max-width:1100px){
    .contactView{
        #square{
            width: 200px;
        }

        .contactForm{
            .wrapper{
                .info{
                    padding: 2em;
                    width: 30%;
                    min-width: 33%;
                }

                .form{
                    width: 37%;
                    min-width: 51%;

                    textarea{
                        height: 6em;
                    }
                }
            }
        }

        .rental{
            h1{
                font-size: 3.8em;
                margin-left: 0;
            }

            p{
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width:770px){
    .contactView{
        .section{
            padding: 2em 0;
        }
    
        .container-inner{
            width: 100%;
        }

        #square{
            display: none ;
        }

        .contactForm{
            .wrapper{
                justify-content: center;

                .info{
                    width: 60%;
                    max-width: 100%;
                    box-sizing: border-box;
                    min-width: 100%;
                }

                .form{
                    margin-top: 2em;
                    width: 60%;
                    max-width: 100%;
                    min-width: 100%;
                }

                .send{
                    display: block;
                    text-align: center;
                    width: 100% !important;
                    max-width: 100%;
                    box-sizing: border-box;

                    a::after{
                        height: 0 !important;
                    }
                }
            }
        }

        .rental{
            margin-bottom: 180px !important;

            h1{
                font-size: 8vw;
            }
        }
    }
}

@media screen and (max-width:400px){
    h2{
        font-size: 40px;
    }

    h3{
        font-size: 25px !important;
    }

    .section{
        padding: 2em 0;
    }

    .contactView{
        background:none;
    }
}