$mainColor : #05a0e3;

//View background
.homeView{
    background-image:
        url('../Img/Background/wave.svg'),
        url('../Img/Background/wave2.svg');

    background-position:
        top 27% left 0%,
        top 65% left 0%;

    background-repeat: no-repeat;

    /*Rental offer*/
    .rentalOffer{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 75%;
        background-color: $mainColor;
        padding: .5em;
        margin: 0 auto;
        border-radius: 0.2em;
        transform: translateY(-55%);
        
        p{
            color:white;
            font-weight: 400;
            font-size: 1.1em;
        }

        a{
            text-decoration: none;
            color:white;
            font-weight: 300;
            padding: .5em 2em;
            font-size: 1.1em;
            border: 0.05em solid white;
            border-radius: 0.2em;
            transition: 0.1s ease-in-out;
            position: relative;

            &:hover{
                background-color: white;
                color:$mainColor;
            }

            &::after{
                content: '';
                width: 15px;
                height: 1px;
                background-color: white;
                position: absolute;
                top:50%;
                right: -4.5%;
            }
        }
    }

    /*About us*/
    .aboutUs{   
        position: relative;

        .text{
            margin-left: 2.5em;
            max-width: 500px;
        
            a{
                text-decoration: none;
                color:black;
            }

            .showMore{
                display: inline-block;
                border-bottom: 1px solid white;

                span{
                    margin-left: .5em;
                }

                &:hover{
                    border-bottom:1px solid black;
                }
            }
        }

        #square{
            top: 40%;
            right: 10%;
            width: 180px;
        }
    }

    /*Certificates*/
    .certificates{
        .card-container{
            display: flex;
            justify-content: space-between;
            flex-flow:row wrap;

            .card{
                width: 25%;
                background-color:white;
                padding: 1.5em;
                border-radius: .5em;
                -webkit-box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.55); 
                box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.55);

                h3{
                    color:$mainColor;
                    margin: 0;
                }

                p{
                    font-size: .9em;
                    margin-top: 0;
                }

                img{
                    display: block;
                    margin: 3em auto;
                    width: 50%;
                }

                .box{
                    display: flex;
                    flex-direction: column;
                }

                a{
                    color:$mainColor;
                    text-decoration: none;
                    text-align: center;
                    margin: 0 auto;
                    width: 60%;
                    box-sizing: border-box;
                    padding: .5em;
                    border:0.15em solid $mainColor;
                    border-radius: 0.3em;
                    transition: .1s ease-in-out;
                    position: relative;

                    &:hover{
                        background-color: $mainColor;
                        color:white;
                    }

                    &::after{
                        content: '';
                        width: 15px;
                        height: 2px;
                        background-color: $mainColor;
                        position: absolute;
                        top:47%;
                        right: -3.5%;
                    }
                }

                .showMore{
                    display:flex;
                    justify-content: center;
                    margin-top: 0.5em;
                    font-size: 0.8em;

                    a{  
                        transition: none;
                        border: none;
                        border-radius: 0;
                        text-decoration: none;
                        border-bottom: 1px solid white;
                        color:black;
                        padding: 0;
                        width: inherit;

                        &:hover{
                            border-bottom: 1px solid black;
                            background-color: white;
                        }

                        &::after{
                            width: 0px;
                            height: 0px;
                        }
                    }
                }
            }
        }
    }

    /*Portfolio*/
    .portfolio{
        background: none;
        position: relative;

        h3{
            font-size: 2em;
        }

        #square{
            top:5%;
            right: 35%;
            width: 160px;
            transform: rotate(40deg);
        }
    }

    /*All works*/
    .allWorks{
        background:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../Img/home-portfolio-stripe-bg.jpg') center center;
        background-size: cover;
        text-align: center;
        position: relative;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3{
            margin-top: 0;
            color:white;
        }

        a{
            color:white;
            text-decoration: none;
            background-color: $mainColor;
            border-radius: .3em;
            padding: .8em 2em;
            display: inline-block;            
            font-weight: 300;
            position: relative;

            &::after{
                position: absolute;
                top: 50%;
                right: -2.5%;
                content: '';
                width: 15px;
                height: 1px;
                background-color: white;
            }
        }

        #circle{
            position: absolute;
            top:-40%;
            right: 40%;
            width: 100px;
            z-index: -1;
        }
    }

    /*Contact*/
    .contact{
        position: relative;

        #square{
            top:-15%;
            right: 17%;
            width: 200px;
            transform: rotate(40deg);
        }
        
        .wrapper{
            display: flex;
            flex-flow:row wrap;
            justify-content:space-between;

            .info{
                width: 35%;
                padding: 3em;
                min-width:200px;
                max-width: 330px;
                background-color: $mainColor;
                color:white;
                border-radius: .5em;

                p{
                    line-height: 0.5em;
                    font-weight: 300;
                }
                
                .heading{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.2em;

                    h4{
                        margin-left: .5em;
                        margin-top:0;
                        margin-bottom:0;
                    }

                    &:nth-of-type(2),&:nth-of-type(3){
                        margin-top: 2em;
                    }
                }
            }

            .form{
                width: 40%;
                min-width: 300px;
                max-width: 500px;

                input,textarea{
                    padding: .8em;
                    font-size: 1.2em;
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    border:0.09em solid #ccc;
                    border-radius: .3em;
                    outline: none;
                    font-family: inherit;
                    -webkit-box-shadow: 0px 2px 7px -5px #000000; 
                    box-shadow: 0px 2px 7px -5px #000000;
                    margin: 1.5em 0;
                }

                textarea{
                    height: 10em;
                }

                input:first-of-type{
                    margin-top: 0;
                }

                .send{
                    background-color: $mainColor;
                    color: white;
                    width: auto;
                    display: inline-block;
                    margin-top: 2em;
                    padding: 1em 3em;
                    -webkit-box-shadow: 0px 2px 7px -5px #000000; 
                    box-shadow: 0px 2px 7px -5px #000000;
                    border-radius: .3em;

                    a{
                        color:white;
                        text-decoration: none;
                        position: relative;
                        margin-left: 0.5em;

                        &::after{
                            content: '';
                            width: 25px;
                            height: 1px;
                            background-color: black;
                            position: absolute;
                            top:47%;
                            right: -100%;
                        }
                    }
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }       
}

/*Media queries*/
@media screen and (max-width:1100px){
    .homeView{
        /*about us section*/
        .rentalOffer{
            width: 100%;
            justify-content: space-around;
        }

        /*about us section*/
        .aboutUs{
            #square{
                top:0;
            }
        }

        /*certificates section*/
        .certificates{
            display: inline-block;
            .card-container{
                .card{
                    width: 39.8%;
                }

                .card:nth-of-type(1){
                    margin-right: .5em;
                }

                .card:nth-of-type(2){
                    margin-left: .5em;
                }
                
                .card:nth-of-type(3){
                    margin-top: 1.5em;
                }
      
            }
        }

        /*Contact section*/
        .contact{
            .wrapper{
                .info{
                    padding: 2em;
                    width: 30%;
                    min-width: 33%;
                }

                .form{
                    width: 37%;
                    min-width: 51%;

                    textarea{
                        height: 6em;
                    }
                }
            }

        }
    }
}

@media screen and (max-width:770px){
    .homeView{
        .section{
            padding: 2em 0;
        }

        .container-inner{
            width: 100%;
        }

        /*about us section*/
        .aboutUs{
            .text{
                margin-left: 0 !important;
                max-width: 100%;
            }
        }

        /*certificates section*/
        .certificates{
            .card-container{
                justify-content: center;
                .card{
                    max-width: 60%;
                    margin: 0;
                    width: 100%;
                }

                .card:nth-of-type(1){
                    margin-right: 0;
                }
                
                .card:nth-of-type(2){
                    margin-top: 2em;
                    margin-left: 0;
                    margin-bottom: 2em;
                }
            }
        }

        /*contact section*/
        .contact{
            margin-bottom: 180px !important;

            .wrapper{
                justify-content: center;

                .info{
                    width: 60%;
                    max-width: 100%;
                    box-sizing: border-box;
                    min-width: 100%;
                }

                .form{
                    margin-top: 2em;
                    width: 60%;
                    max-width: 100%;
                    min-width: 100%;
                }

                .send{
                    display: block;
                    text-align: center;
                    width: 100% !important;
                    max-width: 100%;
                    box-sizing: border-box;

                    a::after{
                        height: 0 !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:650px){
    .homeView{
        .rentalOffer{
            display: none;
        }

        .aboutUs{
            #square{
                display: none;
            }
        }
    }
}


@media screen and (max-width:400px){
    h2{
        font-size: 40px;
    }

    h3{
        font-size: 25px !important;
    }

    .section{
        padding: 2em 0;
    }

    .homeView{
        /*rental offer section*/
        .rentalOffer{
            display: none;
        }

        #square,#circle{
            display: none;
        }

        /*about us section*/
        .aboutUs{
            p{
                font-size: 15px;
            }
        }

        /*certificates section*/
        .certificates{
            .card-container{
                .card{
                    width: 100%;
                    max-width: 100%;   
                }

                .card:nth-of-type(3){
                    margin-top: 0;
                }
            }
        }

        /*portfolio section*/
        .portfolio{
            #square{
                display: none;
            }
        }
    }

}


