$mainColor : #05a0e3;

.rentalView{
    background: 
        url('../Img/Background/lifter-background.png') no-repeat,
        url('../Img/Background/wave6.svg') no-repeat,
        url('../Img/Background/wave7.svg') no-repeat,
        url('../Img/Background/excavator-background.png') no-repeat;

    background-position:
        top 0 left -50%,
        top 0 right 0,
        top 50% left 0,
        bottom 0 right 0;

    background-size:
        50%,
        50%,
        100%,
        40%;

    #dots{
        position: absolute;
        fill: $mainColor;
        opacity: 50%;
        top: -5px;
        left: -10px;
        width: 40px;
    }
    
    #square,#circle{
        fill:none;
        stroke:$mainColor;
        stroke-width: .6;
        position: absolute;
        z-index: -1;
    }

    .intro{
        position: relative;

        #circle{
            width: 110px;
            right:10%;
            top: 25%;
            z-index: 2;
        }

        p{
            font-size: 1.2em;
            margin-bottom: 0;
        }

        h1{
            color:$mainColor;
            font-size: 5em;
            margin-top: 0;
        }


        a{
            color:white;
            background-color: $mainColor;
            text-decoration: none;
            margin-top: 5em;
            display: inline-block;
            padding:1em 3.5em;
            border-radius: 0.5em;
            position: relative;
            font-weight: 400;
            font-size: 1.1em;

            &::after{
                content: '';
                width: 20px;
                height: 2px;
                background-color: black;
                position: absolute;
                top:47%;
                right: -5%;
            }
        }

        .image{
            width: 400px;
            height: auto;
            border-radius: .5em;
            position: absolute;
            right: 10%;
            top: 60%;
            transform: rotate(10deg);
            
            
            img{
                width: 100%;
                height:auto;
                border-radius: .5em;
            }

            #square{
                stroke-width: .2;
                transform: rotate(20deg);
                width: 400px;
                margin-left: -120%;
                margin-top: 24%;
            }
        }
    }

    .ourMachinery{
        margin-top: 10em;

        h2{
            font-size: 4em;
        }

        p{
            font-size: 1.1em;
            max-width: 600px;
        }

        .machine-container{
            .machine{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin:5em 0;
                flex-wrap: wrap;

                .slider{
                    width: 32%;
                    min-width: 350px;
                    height: auto;
                }

                .description{
                    width: 50%;

                    h3{
                        font-size: 2.5em;
                        margin:0;
                        position: relative;
                        z-index: 2;
        
                        #square{
                            fill: none;
                            stroke: #05a0e3;
                            position: absolute;
                            stroke-width: 1;
                            top: -45%;
                            left: -5%;
                            width: 70px;
                            transform: rotate(20deg);
                            z-index: -1;
                        }
                    }

                    p{
                        font-size: 1.1em;
                        margin:0;
                    }

                    .list{
                        margin-top: 2em;

                        .list-item{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin: .5em 0;
                            

                            .dot{
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: $mainColor;
                                margin-right: .5em;
                            }
                        } 

                        .desc{
                            margin-left: 1em;
                        }

                    }

                    .showMore{
                        margin-top: 2em;
                        border-bottom: 1px solid white;
                        display:inline-block;

                        &:hover{
                            cursor: pointer;
                            border-bottom: 1px solid black;
                        }
                    }

                }
            }
        }

        .machine-container .machine:last-child{
            margin-bottom: 0; 
        }
    }

    .price-list{
        h3{
            position: relative;
            font-size: 3.2em;

            #square{
                fill: none;
                stroke: #05a0e3;
                position: absolute;
                stroke-width: 1;
                top: -32%;
                left: -3%;
                width: 70px;
                transform: rotate(20deg);
                z-index: -1;
            }
        }

        p{
            max-width: 600px;
            font-size: 1.1em;
        }

        .price{
            color:white;
            background-color: $mainColor;
            text-decoration: none;
            display: inline-block;
            padding:1em 3.5em;
            border-radius: 0.5em;
            position: relative;
            font-weight: 400;
            font-size: 1.1em;

            &::after{
                content: '';
                width: 20px;
                height: 2px;
                background-color: black;
                position: absolute;
                top:47%;
                right: -5%;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }

    .reservation{
        width:100%;
        margin: 0 auto;

        h3{
            position: relative;
            font-size: 3.2em;

            #square{
                fill: none;
                stroke: #05a0e3;
                position: absolute;
                stroke-width: 1;
                top: -32%;
                left: -3%;
                width: 70px;
                transform: rotate(20deg);
                z-index: -1;
            }
        }

        h1{
            font-size: 5em;
            margin:0;
            color:$mainColor;
            margin-left: 40px;
        }

        p{
            margin-left: 40px;
            font-size: 1.2em;
            font-weight: 400;
        }
    }
}

//Media queries
@media screen and (max-width:1100px){
    .rentalView{
        .intro{
            h1{
                font-size: 4em;
            }

            .image{
                width: 300px;
                top:60%;

                #square{
                    margin-left: -129%;
                    margin-top: -3%;
                }
            }
        }

        .ourMachinery{
            h2{
                font-size: 3em;
            }

            .machine-container{
                .machine{
                    flex-direction: column;

                    .description{
                        width: 100%;
                    }

                    .slider{
                        margin-top: 2em;
                        width: 100% !important;
                    }

                    .slide .image{
                        margin: 0 -10px;
                        padding:0 15px;
                    }

                    #prevSlide{
                        left:-15px;
                    }

                    #nextSlide{
                        right:-15px;
                    }
                }
            }
        }

        .reservation{
            h1{
                font-size: 3.8em;
                margin-left: 0;
            }

            p{
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width:770px){
    .rentalView{
        .section{
            padding: 2em 0;
        }

        .container-inner{
            width: 100%;
        }

        .intro{
            h1{
                font-size: 3em;
            }

            .image{
                display: block;
                position: static;
                margin: 0 auto;
                width: 50%;
                min-width: 280px;
                margin-top: 6em;

                #square{
                    top:-25px;
                }
            }
        }

        .reservation{
            margin-bottom: 180px !important;

            h1{
                font-size: 8vw;
            }
        }
    }

    .ourMachinery{
        margin-top: 0 !important;

        .machine{
            .slider{
                min-width: 100% !important;
            }
        }
    }
}

@media screen and (max-width:400px){
    .rentalView{
        h2{
            font-size: 40px !important;
        }
    
        h3{
            font-size: 25px !important;
        }

        .intro{
            h1{
                font-size: 3em;
            }

            .image{
                min-width: 230px;

                #square{
                    width: 320px;
                    top:-10px;
                    right:-20px;
                }
            }
        }

        .reservation{
            h1{
                font-size: 2em;
            }
        }
    }
}