$mainColor : #05a0e3;

.aboutUs{
    background: url('../Icons/square.svg') no-repeat;
    background-position-x: 90%;
    background-position-y:center;
    background-size: 10%;

    h3{
        font-size: 1.5em;
        transform:translateX(2%);
    }

    h2{
        font-size: 3em;
    }

    .text{
        transform:translateX(7%);
        max-width: 500px;
        p{
            line-height: 1.5em;
        }
    
        a{
            text-decoration: none;
            color:black;
        }
    }

    #square{
        fill:$mainColor;
        width:10%;
        transform:rotate(60deg);
    }
}