$mainColor : #05a0e3;

nav{
    overflow-x: hidden;
    padding: 1em 0;
    .nav-items{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .menu ul{
            list-style: none;
            padding-left: 0;

            li{
                display: inline-block;
                margin: 0 1.5em;
                color: black;

                a{
                    color: black;
                    text-decoration: none;
                }
            }
        }

        .rental a{
            border: .12em solid $mainColor;
            padding: 0.35em 1em;
            color: $mainColor;
            text-decoration: none;

            &:hover{
                background-color: $mainColor;
                color:white;
            }
        }
    }
}

.active > a{
    color: $mainColor !important;
}