$mainColor : #05a0e3;

.portfolioItemSlider{
    .slider{
        width: 100%;
        overflow-x: hidden;
    }

    #nextSlide,#prevSlide{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        z-index: 1;
        fill: $mainColor;
        background-color: white;
        border-radius: 50%;
    }
    
    #nextSlide{
        right: -1%;
    }
    
    #prevSlide{
        left: -1%;
    }
    
    .slick-next::before{
        content: '';
    }
    
    .slick-prev::before{
        content: '';
    }
}

.slide{
    .image{
        margin: 0 -10px;
        padding:0 15px;


        img{
            display: block;
            width: 100%;
            height: auto;
            border-radius: .5em;
        }
    }
}



