$mainColor : #05a0e3;

.rentalOffer{
    background-color: $mainColor;
    padding: 1.5em;
    border-radius: 0.2em;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    transform: translateY(-50%);
    
    p{
        margin: 0;
        color:white;
        font-size: 1.15em;
        font-weight: 400;
    }

    a{
        text-decoration: none;
        color:white;
        font-weight: 300;
        font-size: 1.15em;
        border: 0.05em solid white;
        padding: 0.3em 1.8em;
        border-radius: 0.2em;
    }
}