/*General*/
$mainColor : #05a0e3;

html{
    scroll-behavior: smooth;
}

html,body{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1300px;
}

.container-inner{
    width: 90%;
    margin: 0 auto;
}

.wrapper{
    overflow-x: hidden;
}

.section{
    padding: 3em 0;
}

/*Headings and paragraphs*/
h2{
    font-size:3em;
}

h3{
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

p{
    line-height: 1.5em;
}

/*Icons*/
#dots{
    position: absolute;
    fill: $mainColor;
    opacity: 50%;
    top: -5px;
    left: -14px;
    width: 40px;
}

h2{
    position: relative;
    z-index: 2;

    #dots{
        z-index: -1;
    }
}

#square,#circle{
    fill:none;
    stroke:$mainColor;
    stroke-width: .6;
    position: absolute;
    z-index: -1;
}
  
/*Transitions*/
/*Slide forward*/
.slide-forward-enter{
    opacity: 0;
    transform: translateX(100%);
}
  
.slide-forward-enter-active{
    opacity: 1;
    transition: 0.3s ease-in-out;
    transform: translateX(0);
}
  
.slide-forward-exit{
    opacity: 1;
    transform: translateX(0);
}
  
.slide-forward-exit-active{
    opacity: 0;
    transition: 0.3s ease-in-out;
    transform: translateX(-100%);
}

/*Slide backward*/
.slide-backward-enter{
    opacity: 0;
    transform: translateX(-100%);
}
  
.slide-backward-enter-active{
    opacity: 1;
    transition: 0.3s ease-in-out;
    transform: translateX(0);
}
  
.slide-backward-exit{
    opacity: 1;
    transform: translateX(0);
}
  
.slide-backward-exit-active{
    opacity: 0;
    transition: 0.3s ease-in-out;
    transform: translateX(-100%);
}